body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-image: url('../images/sosis.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}